[submodule "lib/REED-SD-4023-serial"]
	path = lib/REED-SD-4023-serial
	url = https://github.com/HarshavardhanAnne/REED-SD-4023-serial.git
[submodule "lib/AethLabs-MA200-serial"]
	path = lib/AethLabs-MA200-serial
	url = https://github.com/HarshavardhanAnne/AethLabs-MA200-serial.git
[submodule "lib/Met-One-Aerocet-531s-serial"]
	path = lib/Met-One-Aerocet-531s-serial
	url = https://github.com/HarshavardhanAnne/Met-One-Aerocet-531s-serial.git
[submodule "lib/am2315"]
	path = lib/am2315
	url = https://github.com/lexruee/am2315.git
